<section class="container">
  <h1 class="text-center p-5">Lista de Afazeres</h1>

  <div class="d-flex border rounded p-3 mb-3">
    <div class="px-2">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nova lista"
          aria-label="Nova lista"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
        >
          Adicionar
        </button>
      </div>

      <div
        class="nav flex-column nav-pills"
        role="tablist"
        aria-orientation="vertical"
      >
        <button
          *ngFor="let lista of listas"
          class="nav-link"
          type="button"
          role="tab"
        >
          {{ lista.title }}
        </button>
      </div>
    </div>

    <div class="flex-grow-1 px-2">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nova atividade"
          aria-label="Nova atividade"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
        >
          Adicionar
        </button>
      </div>

      <div class="tab-content border rounded">
        <div class="p-2" role="tabpanel">
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let tarefa of tarefas"
              class="
                list-group-item
                d-flex
                justify-content-between
                align-items-center
              "
            >
              <div [class.text-decoration-line-through]="false">
                <input class="form-check-input me-1" type="checkbox" value="" />
                {{ tarefa.title }}
              </div>
              <button type="button" class="btn btn-outline-danger">
                <i class="bi bi-trash"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
